<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All friends
    </h1>

    <a href="/friends/new" class="btn btn-block btn-outline-secondary">
      Add a new friend
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Name
        </th>

        <th>
          Profile
        </th>

        <th>
           Picture
        </th>
        
        <th>
        </th>
      </tr>

    <% @friends.where(follower_id: current_user.id).each do |friend| %>
      <tr>
        <td>
          <%= User.find(friend.leader_id).username %>
        </td>

        <td>
          <%= User.find(friend.leader_id).profile %>
        </td>

        <td>
          <%= User.find(friend.leader_id).profilepic %>
        </td>

        <td>
          <a href="/users/<%= friend.leader_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
