<div class="card" style="width: 36rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @users.username %></h5>
    <p class="card-text"><%= @users.profile %></p>
    <a href="/users/<%= @users.id %>" class="btn btn-primary">View my yoga flows</a>
  </div>
</div>