<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
         Yoga app name (TBD)
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a href="/yogaflows" class="dropdown-item">
              All Community Yoga Flows
            </a>
            <a href="/yogaflows/new" class="dropdown-item">
              Create A New Yoga flow
            </a>

            <% if current_user.blank? %>
              <a href="/users/<%= current_user %>" class="dropdown-item">
              My Yoga Flows
              </a>
              <% else %>
              <a href="/users/<%= current_user.id %>" class="dropdown-item">
               My Yoga Flows
            </a>
            <% end %>
            <a href="/friends" class="dropdown-item">
              Friends
            </a>
            <a href="/favorites" class="dropdown-item">
              Favorite Yoga Flows
            </a>
            <a href="/poses" class="dropdown-item">
              Poses
            </a>
            
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              Login
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_up" class="nav-link">
              Create account
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              <i class="fas fa-cog"></i>
              <%= current_user.username %>
            </a>
          </li>

          <li class="nav-item">
            <a href="/users/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
