<h1>
  Edit sequence #<%= @sequence.id %>
</h1>

<hr>

<form action="/update_sequence/<%= @sequence.id %>" method="post">

  <div class="form-group">
    <label for="yogaflow_id">
      Yogaflow
    </label>

    <input type="text" id="yogaflow_id" name="yogaflow_id" class="form-control" value="<%= @sequence.yogaflow_id %>">
  </div>

  <div class="form-group">
    <label for="pose_id">
      Pose
    </label>

    <input type="text" id="pose_id" name="pose_id" class="form-control" value="<%= @sequence.pose_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update sequence
  </button>
</form>

<hr>

<a href="/sequences">
  Go back
</a>
