
<div class="card-deck">
  
  <div class="card mb-3">
    <a href="/users/<%= current_user.id %>">
    <img class="card-img-top" src="https://images.pexels.com/photos/1308746/pexels-photo-1308746.jpeg?cs=srgb&dl=active-activity-adult-1308746.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My Flows</h5>
    </div>
     </a>
  </div>
 
  
  <div class="card mb-3">
    <a href="/yogaflows/new">
    <img class="card-img-top" src="https://images.pexels.com/photos/1139489/pexels-photo-1139489.jpeg?cs=srgb&dl=acro-acro-pose-acro-yoga-1139489.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Create a New Flow</h5>
    </div>
    </a>
  </div>
  
  <div class="card mb-3">
    <a href="/friends">
    <img class="card-img-top" src="https://images.pexels.com/photos/1472887/pexels-photo-1472887.jpeg?cs=srgb&dl=active-activity-adult-1472887.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Friends</h5>
    </div>
    </a>
  </div>
</div>

<div class="card-deck">
  
  <div class="card mb-3">
    <a href="/poses">
    <img class="card-img-top" src="https://images.pexels.com/photos/1308746/pexels-photo-1308746.jpeg?cs=srgb&dl=active-activity-adult-1308746.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Poses</h5>
    </div>
     </a>
  </div>
 
  
  <div class="card mb-3">
    <a href="/favorites">
    <img class="card-img-top" src="https://images.pexels.com/photos/1139489/pexels-photo-1139489.jpeg?cs=srgb&dl=acro-acro-pose-acro-yoga-1139489.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Favorite Flows</h5>
    </div>
    </a>
  </div>
  
  <div class="card mb-3">
    <a href="/yogaflows">
    <img class="card-img-top" src="https://images.pexels.com/photos/1472887/pexels-photo-1472887.jpeg?cs=srgb&dl=active-activity-adult-1472887.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Community Flows</h5>
    </div>
    </a>
  </div>
</div>

