
<div class="card-deck">
  
  <div class="card mb-3 border-secondary">
    <a href="/users/<%= current_user.id %>" class="card-link">
    <img class="card-img-top" src="https://images.pexels.com/photos/374101/pexels-photo-374101.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">My Flows</h5>
    </div>
     </a>
  </div>
 
  
  <div class="card mb-3 border-secondary">
    <a href="/yogaflows/new" class="card-link">
    <img class="card-img-top" src="https://images.pexels.com/photos/834893/pexels-photo-834893.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Create a New Flow</h5>
    </div>
    </a>
  </div>
  
  <div class="card mb-3 border-secondary">
    <a href="/friends" class="card-link">
    <img class="card-img-top" src="https://images.pexels.com/photos/917732/pexels-photo-917732.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Friends</h5>
    </div>
    </a>
  </div>
</div>

<div class="card-deck">
  
  <div class="card mb-3 border-secondary">
    <a href="/poses" class="card-link">
    <img class="card-img-top" src="https://images.pexels.com/photos/617000/pexels-photo-617000.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Poses</h5>
    </div>
     </a>
  </div>
 
  
  <div class="card mb-3 border-secondary">
    <a href="/favorites" class="card-link">
    <img class="card-img-top" src="https://images.pexels.com/photos/892682/pexels-photo-892682.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Favorite Flows</h5>
    </div>
    </a>
  </div>
  
  <div class="card mb-3 border-secondary">
    <a href="/yogaflows" class="card-link">
    <img class="card-img-top" src="https://images.pexels.com/photos/892677/pexels-photo-892677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Community Flows</h5>
    </div>
    </a>
  </div>
</div>

