
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1308746/pexels-photo-1308746.jpeg?cs=srgb&dl=active-activity-adult-1308746.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My Flows</h5>
      <p class="card-text">View my flows and create a new flow.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1139489/pexels-photo-1139489.jpeg?cs=srgb&dl=acro-acro-pose-acro-yoga-1139489.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Friends</h5>
      <p class="card-text">Look at favorite flows and see what friends are up to.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.pexels.com/photos/1472887/pexels-photo-1472887.jpeg?cs=srgb&dl=active-activity-adult-1472887.jpg&fm=jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Community</h5>
      <p class="card-text">Find new flows and new friends.</p>
    </div>
  </div>
</div>
